@model WebApplication.Models.IndexModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <h2>Index (displaying @Model.NumberOfItems items)</h2>
    <h3>Secondary is at most @Model.SecondaryLagSeconds seconds out-of-date.</h3>
    <div>
        <a asp-action="Create">Create 25 items</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Object ID</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.BusinessObjectItems)
            {
                <tr>
                    <th scope="row">@item.ObjectID</th>
                </tr>
            }
        </tbody>
    </table>
</div>
