@model WebApplication.Models.IndexModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <h2>Index</h2>
    <div>
        <a asp-action="Create">Create an item</a></div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Object ID</th>
                <th scope="col">Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.BusinessObjectItems)
            {
                <tr>
                    <th scope="row">@item.ObjectID</th>
                    <td>@item.Name</td>
                </tr>
            }
        </tbody>
    </table>
</div>
